<template name="afCheckbox_checkboxToggle">
    <label>
      <input type="checkbox" value="true" {{atts}} />
      <!-- <span class="checkbox-material"><span class="check"></span></span> -->
      {{afFieldLabelText name=this.name}}
    </label>
</template>
