<template name="ModalTemplate">
  <div id={{template}} class="modal fade">
    <div class="modal-dialog modal-{{size}}">
      <div class="modal-content">
        <div class="modal-header">
          {{title}}
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
          </button>
        </div>
        <div class="modal-body">
          {{> Template.dynamic template=template data=data}}
        </div>
      </div>
    </div>
  </div>
</template>
