<template name="multiAddView">
  <ul class="nav nav-tabs" id="tabContent">
      <li class="nav-item">
        <a class="nav-link active" href="#{{main.id}}" data-toggle="tab">{{__ main.label}}</a>
      </li>
      {{#if main.data._id}}
        {{#each tab in tabs}}
          <li class="nav-item">
            <a class="nav-link" href="#{{tab.id}}" data-toggle="tab">{{__ tab.label}}</a>
          </li>
        {{/each}}
      {{/if}}
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="{{main.id}}">
      {{> insertUpdateTemplate form=main.form data=main.data}}
    </div>
    {{#each tab in tabs}}
      <div class="tab-pane" id="{{tab.id}}">
        {{#let tabData=(getTabData tab.id)}}
          {{#if tabData._id }}
            <table class="table">
              <tr>
                <td><h3>{{__ ".update"}}</h3></td>
                <td align="right">
                  <i class="fa fa-undo" data-action="abandon" data-tabname="{{tab.id}}"></i> {{__ ".cancel"}}
                </td>
              </tr>
            </table>
            {{> insertUpdateTemplate form=tab.form data=tabData var=tabVarDict}}
          {{else}}
            {{#if tabData.add }}
              <table class="table">
                <tr>
                  <td><h3>{{__ ".new"}}</h3></td>
                  <td align="right">
                    <i class="fa fa-undo" data-action="abandon" data-tabname="{{tab.id}}"></i> {{__ ".cancel"}}
                  </td>
                </tr>
              </table>
              {{> insertUpdateTemplate form=tab.form data=tabData var=tabVarDict}}
            {{else}}
              <table class="table">
                <tr>
                  <td><h3>{{__ tab.label}}</h3></td>
                  <td align="right">
                    <i class="fa fa-plus" data-action="add" data-tabname="{{tab.id}}"></i> {{__ ".add_new"}}
                  </td>
                </tr>
              </table>
            {{/if}}
          {{/if}}
          {{#if main.data._id}}
            {{> multiAddViewSubTable data=tab var=tabVarDict}}
          {{/if}}
        {{/let}}
      </div>
    {{/each}}
  </div>
</template>

<template name="multiAddViewSubTable">
  <table class="table">
    {{#each item in (allItems data.form)}}
      <tr>
        {{#each field in data.tableFields }}
          <td>
            {{#if field.template}}
              {{> Template.dynamic template=field.template data=item }}
            {{else}}
              {{getField field item}}
            {{/if}}
          </td>
        {{/each}}
        <td>
          <i class="fa fa-pencil-square-o" aria-hidden="true" data-action="edit" data-tabname="{{data.id}}" data-id="{{item._id}}"></i>
          <i class="fa fa-trash-o" aria-hidden="true" data-action="delete" data-tabname="{{data.id}}" data-id="{{item._id}}"></i>
        </td>
      </tr>
    {{/each}}
  </table>
</template>

<template name="multiAddViewTable">
  {{#if data.form.searchTemplate }}
    <div class="row">
      <div class="panel panel-default">
        {{> Template.dynamic template=data.form.searchTemplate }}
      </div>
    </div>
  {{/if}}
  <table class="table table-bordered table-responsive">
    <thead>
      {{#each field in data.tableFields }}
        <th>{{field.name}}</th>
      {{/each}}
    </thead>
    <tbody>
      {{#each item in (allItems data.form)}}
        <tr>
          {{#each field in data.tableFields }}
            <td>
              {{#if field.template}}
                {{> Template.dynamic template=field.template data=item }}
              {{else}}
                {{getField field item}}
              {{/if}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<template name="multiAddViewList">
  {{#if data.form.searchTemplate }}
  <div class="row">
    <div class="card">
      {{ Template.dynamic template=data.form.searchTemplate }}
    </div>
  </div>
  {{/if}}
  <div class="row">
    <ul class="list-group">
      {{#each item in (allItems data.form)}}
        <li class="list-group-item clearfix">
          {{> Template.dynamic template=data.form.template data=item}}
        </li>
      {{/each}}
    </ul>
    <!-- {{#if loadMore}}
      <div class="col-sm-offset-5 col-sm-2 text-center">
        <button class="btn btn-primary" data-action="loadMore">{{_ "load_more"}}</button>
      </div>
    {{/if}} -->
  </div>
</template>
